name: Reusable Docker CI Pipeline

on:
  workflow_call:
    inputs:
      image_name:
        description: "Docker image name (username/repo)"
        required: true
        type: string

      build_command:
        description: "Command to build the application"
        required: true
        type: string

      dockerfile_path:
        description: "Path to Dockerfile"
        required: false
        default: Dockerfile
        type: string

    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build application
      run: ${{ inputs.build_command }}

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ inputs.image_name }}:latest \
        -f ${{ inputs.dockerfile_path }} .

    - name: Push Docker image
      run: docker push ${{ inputs.image_name }}:latest
